[program:nginx-prometheus-exporter-1]
command=/opt/nginx/nginx-prometheus-exporter-0.9.0/nginx-prometheus-exporter -nginx.scrape-uri=http://localhost:8880/basic_status
process_name=%(program_name)s_%(process_num)02d
autostart=true
autorestart=true
#user=root
redirect_stderr=true
